<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../public/css/style.css">
        <script src="../public/js/script.js"></script>
        <title>Main Page</title> 
    </head>
    <body>
        {{>header}}
    </body>
</html>>