<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../public/css/style.css">
        <title>About Page</title> 
    </head>
    <body>
    {{>header}}
        <h4>City: {{location}}</h4>
        <p>Temprature: {{tempratiure}}</p>
    </body>
</html>